<section class='px-8 pb-12 pt-6 md:px-10 2xl:px-28'>
  <div class='sm:x-[30px]'>
    <div
      class='-mb-6 flex flex-col justify-between gap-10 pt-4 md:mt-6 md:pb-10 lg:mt-12 xl:flex-row xl:items-center'
    >
      <h2 class='text-[28px] font-bold md:text-40'>
        The 10 Best Machu Picchu<div class='-mt-3 flex items-center gap-4'>
          <span class='text-primary'>for 2024/2025</span><span
            class='undefined flex'
            ><hr
              class='h-[6px] w-[49px] border-t-[1px] border-solid border-black/10 bg-[#3A499F] opacity-100'
            /></span
          >
        </div>
      </h2><div
        class='hidden h-[140px] items-center gap-6 rounded-[100px] bg-[#FBF7F0] px-10 shadow-[0px_1px_1px_0px_rgba(0,0,0,0.25)] md:flex xl:w-[831px]'
      >
        <img
          data-src='https://www.peruforless.com/images/i-personalize-c.svg'
          alt='Pen and checklist icon.'
          loading='lazy'
          width='67'
          height='67'
          decoding='async'
          data-nimg='1'
          class='h-[93.09px] w-[90px] pr-2'
          src='https://www.peruforless.com/images/i-personalize-c.svg'
          style='color: transparent;'
        /><div class='flex flex-col gap-2'>
          <h3 class='text-20 font-semibold leading-7 text-neutral-800'>
            Our team strives for the utmost quality, comfort, and great value
            for all of our travelers.<span
              class='text-20 font-semibold not-italic leading-4 text-amber-700'
            >
              Get started customizing your trip with an expert travel advisor.</span
            >
          </h3><span class='text-base font-normal not-italic text-neutral-800'
            >Designed by Kim MacQuarrie, 4 time Emmy Winner and our travel
            specialist</span
          >
        </div>
      </div>
    </div><div
      class='mt-4 grid grid-cols-1 gap-4 py-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:gap-5 2xl:gap-7'
    >
      <div class='lg:col-span-2'>
        <a class='' href='/packages/machu-picchu-peru-6-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 lg:text-center lg:flex lg:flex-col lg:items-center lg:justify-center top-0 lg:left-1/2 lg:-translate-x-1/2 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[300px] xl:text-[30px] xl:leading-[29px] 2xl:w-[350px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Heart of the Inca
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >6 days
                </span><span>from </span><span>$1339</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Cusco, Sacred Valley and Machu Picchu
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a
          class=''
          href='/packages/cusco-machu-picchu-galapagos-cruise-11-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-galapagos-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Machu Picchu &amp; Galapagos
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >11 days
                </span><span>from </span><span>$6199</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Galapagos, Cusco, Sacred Valley and Machu Picchu
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a class='' href='/packages/machu-picchu-peru-7-day-tour'
          ><div class='relative'>
            <div
              class='bottom-0 bg-gradient-to-t to-transparent from-primary absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-machu-picchu-3.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 bottom-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Discover Machu Picchu
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >7 days
                </span><span>from </span><span>$1549</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Cusco, Sacred Valley &amp; Machu Picchu
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a
          class=''
          href='/packages/machu-picchu-short-inca-trail-vinicunca-6-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-rainbow-mountain-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Rainbow Mountain &amp; 2-day Inca trail
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >6 days
                </span><span>from </span><span>$1919</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Cusco, Rainbow Mountain, Machu Picchu &amp; 2-day Inca Trail
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a class='' href='/packages/machu-picchu-amazon-cruise-9-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-cruise-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Amazon River Cruise and Machu Picchu
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >9 days
                </span><span>from </span><span>$3649</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Cusco, Sacred Valley, Machu Picchu, Lima &amp; Amazon Cruise
              </p>
            </div>
          </div></a
        >
      </div><div class='lg:col-span-2'>
        <a class='' href='/packages/foodie-inca-trail-machu-picchu-10-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-2-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-2-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-inca-trail-2-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 lg:text-center lg:flex lg:flex-col lg:items-center lg:justify-center top-0 lg:left-1/2 lg:-translate-x-1/2 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[300px] xl:text-[30px] xl:leading-[29px] 2xl:w-[350px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Classic Inca Trail
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >10 days
                </span><span>from </span><span>$3809</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Cusco, Sacred Valley, Inca Trail and Machu Picchu
              </p>
            </div>
          </div></a
        >
      </div><div
        class='lg:col-span-2 sm:col-span-2 md:col-span-3 lg:col-span-4'
      >
        <div class='px-[5px] py-5'>
          <div
            class='relative flex rounded-md border bg-[#f1f6e9] bg-contain bg-right bg-no-repeat pb-[30px] pl-5 pr-5 pt-5 lg:bg-flexible-booking'
          >
            <div class='lg:flex-[0_0_42%]'>
              <h3
                class='px-[10px] py-[5px] text-2xl font-semibold md:text-32 text-black'
              >
                <span class=''>The most</span> flexible booking terms!
                <span class='mb-6 mt-4 flex'
                  ><hr
                    class='h-[8px] w-[65px] border-t-[1px] border-solid border-black/10 bg-[#F26E3D] opacity-100'
                  /></span
                >
              </h3>
              <p class='mb-4 px-[10px] py-[5px] text-neutral-800'>
                <strong>Zero postponement fees up to 30 days</strong> before arrival,
                <strong>transferable travel credit</strong>, and <strong
                  >only a 30% deposit</strong
                > required to secure your trip.
              </p><div class='w-fit'>
                <div
                  class='flex items-center justify-center rounded-full border bg-transparent [&>a>div]:font-medium border-black text-neutral-400 px-4 py-[9px] lg:px-5 lg:py-[13px] text-16 hover:underline'
                >
                  <a href='https://www.peruforless.com/terms-conditions/'
                    ><div>Read More</div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class='false'>
        <a class='' href='/packages/arequipa-machu-picchu-amazon-12-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-arequipa-machu-picchu-amazon-12-card.jpg&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-arequipa-machu-picchu-amazon-12-card.jpg&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-arequipa-machu-picchu-amazon-12-card.jpg&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-arequipa-machu-picchu-amazon-12-card.jpg&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-arequipa-machu-picchu-amazon-12-card.jpg&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-arequipa-machu-picchu-amazon-12-card.jpg&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Cross the Andes to the Amazon
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >12 days
                </span><span>from </span><span>$2549</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Machu Picchu, Sacred Valley, Cusco, Amazon, Arequipa &amp; Colca
                Canyon
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a
          class=''
          href='/packages/cusco-sacred-valley-machu-picchu-lake-titicaca-8-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-titicaca-1.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Machu Picchu &amp; Lake Titicaca
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >8 days
                </span><span>from </span><span>$1839</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Machu Picchu, Cusco, Sacred Valley, Puno &amp; Lake Titicaca
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a
          class=''
          href='/packages/lima-nazca-arequipa-machu-picchu-puno-amazon-16-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-lima-nazca-arequipa-machu-picchu-puno-amazon-16-big-card.png&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-lima-nazca-arequipa-machu-picchu-puno-amazon-16-big-card.png&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-lima-nazca-arequipa-machu-picchu-puno-amazon-16-big-card.png&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-sacred-valley-2.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-sacred-valley-2.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-sacred-valley-2.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-sacred-valley-2.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-sacred-valley-2.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-sacred-valley-2.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Discover Peru
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >16 days
                </span><span>from </span><span>$3949</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Machu Picchu, Cusco, Titicaca, Amazon, Lima, Paracas, Arequipa
                &amp; Colca
              </p>
            </div>
          </div></a
        >
      </div><div class='false'>
        <a class='' href='/packages/cusco-machu-picchu-amazon-9-day-tour'
          ><div class='relative'>
            <div
              class='top-0 to-transparent from-primary bg-gradient-to-b absolute z-10 h-1/2 w-full rounded-xl'
            >
            </div><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='rounded-xl transition duration-300 hover:opacity-80 md:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2-big.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2-big.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2-big.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 md:block lg:hidden'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2.webp&w=2048&q=75'
              style='color: transparent;'
            /><img
              alt='tour package image'
              loading='lazy'
              width='1000'
              height='814'
              decoding='async'
              data-nimg='1'
              class='hidden rounded-xl transition duration-300 hover:opacity-80 lg:block'
              srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2.webp&w=1080&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2.webp&w=2048&q=75 2x'
              src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fp-amazon-2.webp&w=2048&q=75'
              style='color: transparent;'
            /><div
              class='absolute z-20 top-0 my-4 px-4 text-white md:my-3 md:px-3 lg:my-4 lg:px-4 xl:my-5 xl:px-5'
            >
              <div
                class='w-[240px] text-[25px] font-extrabold uppercase leading-6 tracking-[-1px] text-fondo-color2 xs:w-[280px] xs:text-[1.7rem] sm:w-[230px] sm:text-[23px] md:w-[200px] md:text-[22px] md:leading-[22px] lg:w-[200px] lg:text-[22px] lg:leading-[22px]xl:w-[250px] xl:text-[30px] xl:leading-[29px] 2xl:w-[280px] 2xl:text-[36px] 2xl:leading-[38px]'
              >
                Machu Picchu &amp; Jungle Adventure
              </div><p
                class='py-2 text-[14px] xl:py-4 xl:text-[15px] 2xl:text-[16px]'
              >
                <span
                  class='mr-1 rounded-full bg-secondary-400 px-3 py-[3px] text-white xl:mr-2'
                  >9 days
                </span><span>from </span><span>$1929</span><br />
              </p><p
                class='max-w-[320px] text-[14px] xl:text-[15px] 2xl:text-[16px] 2xl:leading-[20px]'
              >
                Amazon, Cusco, Sacred Valley and Machu Picchu
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
  </div>
  <!-- <div class='mb-[15px] mt-12 flex justify-center'>
    <div
      class='flex items-center justify-center rounded-full bg-transparent [&>a>div]:font-medium border border-black text-netral-800 px-4 py-[9px] lg:px-5 lg:py-[13px] text-16 hover:underline'
    >
      <a href='https://www.peruforless.com/packages/'
        ><div>Explore all packages</div></a
      >
    </div>
  </div> -->
</section>
