<section class='relative isolate mx-auto min-h-fit w-full flex flex-col py-10'>
  <div class='absolute top-[100px] z-50 w-full'>
    <h2
      class='text-eyebrow-xs text-balance mx-auto !block text-center uppercase text-w-3005'
    >
      IT'S A VACATION HOME, BUT BETTER
    </h2><p
      class='font-headline text-4.5xl text-balance mx-auto !block text-center font-bold xl:text-5xl mt-2'
    >
      The Wander difference
    </p><p class='mx-auto mt-3 w-full max-w-[664px] text-center max-md:px-5'>
      Wander is different because we combine the quality of a luxury hotel with
      the comfort of a private vacation home. Only the top 1% of vacation homes
      are available on our platform.
    </p>
  </div><div
    class='flex h-full w-full items-end !bg-[length:auto_833px] !bg-top min-[1129px]:!bg-[length:100%_auto]'
    style='background: linear-gradient(black, transparent 5%), linear-gradient(to right, black, transparent 2%, transparent 98%, black), url("https://www.datocms-assets.com/53643/1734376641-image-1_11zon.jpg?auto=format") no-repeat; width: 100vw; left: 50%; position: relative; translate: -50%; max-width: 2500px;'
  >
    <div
      class='w-full bg-gradient-to-b from-transparent via-1-black from-20% via-75% to-1-black py-12 pt-[38rem] xl:pt-[42rem] xl:pb-[104px]'
    >
      <div
        class='relative mx-auto grid w-full max-w-screen-xl gap-12 px-5 md:grid-cols-2 xl:grid-cols-3'
      >
        <div class='w-full md:max-w-[355px]'>
          <img
            alt='Only the top 1% of homes'
            class='mb-4 h-8 w-8'
            width='40'
            height='40'
            decoding='async'
            src='https://www.datocms-assets.com/53643/1726975575-quality.svg?auto=format&h=40&q=10&w=40'
            style='color: transparent;'
            data-loaded-src='https://www.datocms-assets.com/53643/1726975575-quality.svg?auto=format&h=40&q=10&w=40'
          /><p class='mb-2 text-xl font-medium'>Only the top 1% of homes</p><p
            class='text-w-3005'
          >
            We’ll never not look like the pictures. We select homes in the most
            beautiful destinations and pour our hearts into making them magical
            so you can leave your stress at the door.
          </p>
        </div><div class='w-full md:max-w-[355px]'>
          <img
            alt='Hotel-grade amenities'
            class='mb-4 h-8 w-8'
            width='40'
            height='40'
            decoding='async'
            src='https://www.datocms-assets.com/53643/1726975407-hotel.svg?auto=format&h=40&q=10&w=40'
            style='color: transparent;'
            data-loaded-src='https://www.datocms-assets.com/53643/1726975407-hotel.svg?auto=format&h=40&q=10&w=40'
          /><p class='mb-2 text-xl font-medium'>Hotel-grade amenities</p><p
            class='text-w-3005'
          >
            We’ll never leave you with nothing to do. From workstations with
            super fast WiFi to gyms, pools, and saunas, our locations are set up
            for you to effortlessly blend work and play.
          </p>
        </div><div class='w-full md:max-w-[355px]'>
          <img
            alt='24/7 Concierge service'
            class='mb-4 h-8 w-8'
            width='40'
            height='40'
            decoding='async'
            src='https://www.datocms-assets.com/53643/1726975319-concierge.svg?auto=format&h=40&q=10&w=40'
            style='color: transparent;'
            data-loaded-src='https://www.datocms-assets.com/53643/1726975319-concierge.svg?auto=format&h=40&q=10&w=40'
          /><p class='mb-2 text-xl font-medium'>24/7 Concierge service</p><p
            class='text-w-3005'
          >
            We’ll never leave you hanging. Our text-based Concierge is always
            available to help make your trip the best ever – from questions
            about the house to activity recommendations and more.
          </p>
        </div><div class='w-full md:max-w-[355px]'>
          <img
            alt='Inspiring and stunning views'
            class='mb-4 h-8 w-8'
            width='40'
            height='40'
            decoding='async'
            src='https://www.datocms-assets.com/53643/1727207060-mountains-cloud-1.svg?auto=format&h=40&q=10&w=40'
            style='color: transparent;'
            data-loaded-src='https://www.datocms-assets.com/53643/1727207060-mountains-cloud-1.svg?auto=format&h=40&q=10&w=40'
          /><p class='mb-2 text-xl font-medium'>
            Inspiring and stunning views
          </p><p class='text-w-3005'>
            We’ll never leave you uninspired. Every Wander is located in an
            incredible setting with stunning views that will have you feeling
            inspired and refreshed in no time. Adventure awaits.
          </p>
        </div><div class='w-full md:max-w-[355px]'>
          <img
            alt='Meticulous cleaning'
            class='mb-4 h-8 w-8'
            width='40'
            height='40'
            decoding='async'
            src='https://www.datocms-assets.com/53643/1727206777-house-cleaning-star-2.svg?auto=format&h=40&q=10&w=40'
            style='color: transparent;'
            data-loaded-src='https://www.datocms-assets.com/53643/1727206777-house-cleaning-star-2.svg?auto=format&h=40&q=10&w=40'
          /><p class='mb-2 text-xl font-medium'>Meticulous cleaning</p><p
            class='text-w-3005'
          >
            We’ll never have you check in to a dirty house with crusty ketchup
            in the fridge. Our cleaning teams are meticulous about quality. We
            won't leave you a list of chores at check out either.
          </p>
        </div><div class='w-full md:max-w-[355px]'>
          <img
            alt='Safety and security'
            class='mb-4 h-8 w-8'
            width='40'
            height='40'
            decoding='async'
            src='https://www.datocms-assets.com/53643/1726975279-safety.svg?auto=format&h=40&q=10&w=40'
            style='color: transparent;'
            data-loaded-src='https://www.datocms-assets.com/53643/1726975279-safety.svg?auto=format&h=40&q=10&w=40'
          /><p class='mb-2 text-xl font-medium'>Safety and security</p><p
            class='text-w-3005'
          >
            We’ll never pass you off to a stranger. All of the Wander locations
            on our platform are hand-picked by us and managed to our incredibly
            high, industry-leading safety standards.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
