<section class='bg-fondo-color3 py-12'>
  <div class='mx-auto w-full max-w-screen-xl px-7 lg:px-7'>
    <h2 class='mb-2 pb-2 pt-12 text-center text-6xl'>
      What to See at Machu Picchu
    </h2><span class='mb-5 justify-center flex'
      ><hr
        class='h-[8px] w-[65px] border-t-[1px] border-solid border-black/10 bg-[#F26E3D] opacity-100'
      /></span
    ><p class='mx-auto mb-4 max-w-3xl text-center'>
      <b
        >Discover Peru’s most emblematic landmark, the “Lost City of the Incas”.</b
      ><span>
        You’ll learn about the history, Incan mythology, and the mystery that
        surrounds this breathtaking Inca ruin atop the mountains: Machu Picchu.</span
      >
    </p>
    <div
      class='text-neutral-800 grid grid-cols-1 gap-x-6 gap-y-2 pt-12 sm:grid-cols-2 lg:grid-cols-3 lg:gap-y-4'
    >
      <div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-huayna-picchu.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-huayna-picchu.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-huayna-picchu.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>Huayna Picchu</h4><p
              class='mb-4 text-[14px] xl:text-base'
            >
              Hike to the top of Huayna Picchu for extraordinary views of Machu
              Picchu as well as the chance to visit an extra set of ruins on the
              way. Entrance tickets for Huayna Picchu are limited, so be sure to
              reserve yours in advance.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-mountain.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-mountain.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-mountain.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>
              Machu Picchu Mountain
            </h4><p class='mb-4 text-[14px] xl:text-base'>
              Another popular hiking option, Machu Picchu Mountain offers
              incredible panoramic views of the ruins and the surrounding Andes
              Mountains. Like Huayna Picchu, entrance tickets to Machu Picchu
              Mountain are limited so be sure to reserve yours in advance.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-sun-gate.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-sun-gate.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-sun-gate.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>Sun Gate</h4><p
              class='mb-4 text-[14px] xl:text-base'
            >
              The iconic Sun Gate (called Inti Punku in Quechua) is the entrance
              through which Inca Trail hikers enter the Machu Picchu citadel. It
              is also possible to visit this attraction as an additional hike
              for those visiting Machu Picchu on a day trip.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-guardhouse.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-guardhouse.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-guardhouse.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>Guardhouse</h4><p
              class='mb-4 text-[14px] xl:text-base'
            >
              One of the first attractions you’ll visit on your Machu Picchu
              tour, the Guardhouse (also known as the House of the Guardians or
              Guardian’s hut) was once used by sentinels watching over the
              citadel, but nowadays it makes a great spot for sweeping panoramic
              photos of the ruins.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-sacred-rock.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-sacred-rock.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-sacred-rock.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>Sacred Rock</h4><p
              class='mb-4 text-[14px] xl:text-base'
            >
              The enormous Sacred Rock (also called a Wank’a in Quechua) bears a
              striking resemblance to the mountain peaks behind it, and is
              considered a powerful spiritual symbol of Machu Picchu.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-three-windows.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-three-windows.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-three-windows.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>
              Temple of The Three Windows
            </h4><p class='mb-4 text-[14px] xl:text-base'>
              One of Machu Picchu’s most iconic places, the Temple of the Three
              Windows overlooks the Sacred Plaza and consists of three windows
              in the typical Incan trapezoidal style.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-inca-bridge.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-inca-bridge.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-inca-bridge.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>Inca Bridge</h4><p
              class='mb-4 text-[14px] xl:text-base'
            >
              A popular additional hiking destination inside Machu Picchu, The
              Inca Bridge (Puente Inca) is a thin wooden plank crossing a
              mile-high precipice found at the end of a narrow stone pathway.
              Designed as a secret exit, its precarious nature helped to limit
              access to the citadel.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-condor.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-condor.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-condor.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>
              Temple of the Condor
            </h4><p class='mb-4 text-[14px] xl:text-base'>
              This natural rock formation which was carved by the Incas into the
              shape of an Andean condor was an object of worship and represents
              one of the most striking examples of Inca stonemasonry.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-stairway-of-fountains.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-stairway-of-fountains.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-stairway-of-fountains.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>
              “Stairway of Fountains”
            </h4><p class='mb-4 text-[14px] xl:text-base'>
              The engineering ingenuity of the Incas can be seen in the 16
              fountains built within the Machu Picchu citadel. Likely used by
              the residents of Machu Picchu, these Incan water fountains still
              flow with water sourced from a spring near the Sun Gate or Inti
              Punku.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-sun.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-sun.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-sun.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>
              Temple of the Sun
            </h4><p class='mb-4 text-[14px] xl:text-base'>
              The Temple of the Sun is a semicircular ruin within the Machu
              Pichu citadel. This site was one of the most sacred temples within
              the fortress. The trapezoid window is positioned so that on the
              winter solstice (June 21st), the sun’s rays shine directly into
              the temple.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-moon.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-moon.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-temple-of-the-moon.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>
              Temple of the Moon
            </h4><p class='mb-4 text-[14px] xl:text-base'>
              You’ll have to hike Huayna Picchu mountain, within the Machu
              Picchu citadel, to see the Temple of the Moon. This shadowy temple
              contains a throne carved into the stone and was used only by the
              Inca priests for ceremonial purposes.
            </p>
          </div>
        </div>
      </div><div class='mb-4 overflow-hidden rounded-2xl'>
        <div class='flex h-full flex-col bg-white'>
          <img
            alt=''
            loading='lazy'
            width='500'
            height='500'
            decoding='async'
            data-nimg='1'
            class='auto-size w-full'
            style='color: transparent; --darkreader-inline-color: transparent;'
            srcset='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-intihuatana.jpg&w=640&q=75 1x, https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-intihuatana.jpg&w=1080&q=75 2x'
            src='https://www.peruforless.com/_next/image?url=https%3A%2F%2Fwww.peruforless.com%2Fimages%2Fd-l-machu-picchu-intihuatana.jpg&w=1080&q=75'
            data-darkreader-inline-color=''
          /><div class='mb-6 px-7 pt-6'>
            <h4 class='mb-2 text-xl font-bold xl:text-2xl'>Intihuatana</h4><p
              class='mb-4 text-[14px] xl:text-base'
            >
              The famous Intihuatana, whose Quechua name is often translated to
              English as “The Hitching Post of the Sun,” is a carved stone which
              is thought to have possibly been used as a type of sundial.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
