<div class=''>
  <section class='bg-gray-100 py-12 px-4 z-1'>
    <div class='max-w-4xl mx-auto text-center'>
      <h2 class='text-lg font-semibold text-teal-500'>
        #1 Plastic Surgery Clinic
      </h2>
      <h1 class='mt-4 text-4xl font-bold text-gray-800'>Love the new you</h1>
      <p class='mt-4 text-gray-600'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
        lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
        sapien. Suspendisse cursus faucibus finibus.
      </p>
      <div class='mt-8 flex flex-wrap justify-center gap-4'>
        <button
          class='bg-pink-500 text-white font-semibold py-3 px-6 rounded-full shadow-md hover:bg-pink-600'
        >
          READ MORE
        </button>
        <button
          class='border-2 border-teal-500 text-teal-500 font-semibold py-3 px-6 rounded-full shadow-md hover:bg-teal-100'
        >
          MAKE AN APPOINTMENT
        </button>
      </div>
    </div>
  </section>
</div>
